<!--<table>
    <tr><th>Name</th><th>Title</th><th>Salary</th><th>College</th><th>Major</th></tr>
    <tr *ngFor="let temp of employees">
        <td>{{temp.name}}</td>
        <td>{{temp.title}}</td>
        <td>{{temp.salary | currency: 'GBP'}}</td> 
        <td>{{temp.highest_degree.college}}</td>
        <td>{{temp.highest_degree.major}}</td>
    </tr>
</table>-->

<p-table [value]="employees"> <!-- *ngFor -->
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th><th>Title</th><th>Salary</th><th>College</th><th>Major</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-temp> <!-- temp variable -->
        <tr>
            <td>{{temp.name}}</td>
            <td>{{temp.title}}</td>
            <td>{{temp.salary | currency: 'GBP'}}</td> 
            <td>{{temp.highest_degree.college}}</td>
            <td>{{temp.highest_degree.major}}</td>
        </tr>
    </ng-template>
</p-table>